* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-areas:
        "nav"
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7"
    ;
    height: 100vh;
    gap: 10px;
    margin: 20px;
}

nav{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    box-sizing: border-box;
}

nav img{
    max-height: 100%;
    width: auto;
    object-fit: contain;
    box-sizing: border-box;
}

.image{
    background-color: aqua;
    width: 100%;
    height:auto;
}

image1{
    grid-area: img1;
}

image2{
    grid-area: img2;
}

image3{
    grid-area: img3;
}

image4{
    grid-area: img4;
}

image5{
    grid-area: img5;
}

image6{
    grid-area: img6;
}

image7{
    grid-area: img7;
}